<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CareerWise.io</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      #good_size {
        width: 100%;
        height: 360px;
        object-fit: cover;
        margin-bottom: 16px;
        }
    </style>
  </head>
  <body>
    {% include "nav.html" %}
    <img class='.img-fluid' id='good_size' 
      src='./static/images/font_pix.jpg'>
    <div class="container">
      <h1 class='text-center mt-2 mb-4'>CareerWise Hub</h1>
      <div class='row' style='margin-bottom: 16px'> 
        <div class='col -md -6'>
      <p class='lead'>Welcome to CareerWise.io, where the journey to your dream AI and data job begins with ease. Our mission is to transform the daunting task of job hunting into a seamless and stress-free experience for every aspiring professional in the realm of artificial intelligence and related fields. With intuitive features designed to streamline your search, we empower you to focus on what truly matters – showcasing your skills and landing that perfect opportunity. Let's redefine the way you pursue your career goals, one stressless step at a time.</p>
        </div>
        <div class='d-none d-md-block col-md-6'>
        <img src='./static/images/AI_Collaboration.jpg' style='height:360px; border-radius:4px'>
        </div>
      </div>
      <h2 class='text-center mt-2 mb-4'>Open Positions</h2>
      <div>
        {% for job in jobs %}
        {% include 'job_item.html' %}
        {% endfor %}
      </div>
      <div class='text-center'>
      <a href='mailto:mosesebube235@gmail.com?subject=Question%20about%20Job%20Openings&body=Name%3A%0D%0AQuestions%3A'type='button' class="btn btn-primary btn-lg">Contact Us</a>
      </div>
    </div>
    {% include "footer.html" %}
  </body>
</html>