<!DOCTYPE html>
<html>
  <head>
    <title>CareerWise.io</title>
    <link rel="shortcut icon" href="./static/favico_anal_ico.ico">
    <link rel= "stylesheet" href="./static/style.css">
  </head>
  <body>
    <div id="page_handler">
      <h1>Career Uptake</h1>
      <img id= "fix_pix" src='./static/images/font_pix.jpg'>
      <h2> About CareerWise.io</h2>
      <p class="body_text">Welcome to CareerWise.io, where the journey to your dream AI job begins with ease. Our mission is to transform the daunting task of job hunting into a seamless and stress-free experience for every aspiring professional in the realm of artificial intelligence and related fields. With intuitive features designed to streamline your search, we empower you to focus on what truly matters – showcasing your skills and landing that perfect opportunity. Let's redefine the way you pursue your career goals, one stressless step at a time.</p>
      <h2>Job Opening</h2>
      <p class= "body_text">TODO: Show the job here</p>
      <div id="centric">
      <button>Contact Us</button>
      <p> Copyright 2024, CareerWise.io</p>
      </div>
    </div>
  </body>
</html>